<section>
  <h1>Cognitive Bias Task</h1>
  <div class="login">
    <h3>Login</h3>
  </div>
  <div class="contact">
    <h3>Contact Info</h3>
    If you are interested in creating an experiment using the cognitive bias task, please contact <a href={"mailto:"<> @contact_email}><%= @contact_email %></a>
  </div>
</section>